<h1 mat-dialog-title>Customize {{ itemName }} | {{ totalPrice }} Kr.</h1>
<div mat-dialog-content>
    <section class="ingredient-list">
        @for (ingredient of ingredients; track ingredient) {
            <mat-checkbox (click)="onIngredientToggle(ingredient)" [ngModel]="ingredient.selected">
                {{ ingredient.name }}
                @if (ingredient.price > 0) {
                    +{{ ingredient.price }},-
                }
                @else if (ingredient.price < 0) {
                    -{{ ingredient.price }},-
                }
            </mat-checkbox>
        }
    </section>
</div>
<mat-dialog-actions>
    <button matButton (click)="onCancel()">Cancel</button>
    <button matButton (click)="onReturn()">{{ data.isEdit ? 'Update' : 'Add to cart' }}</button>
</mat-dialog-actions>
