@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-dialog-content.mat-dialog-content {
    flex-grow: 1;
}

.purchase-icon {
    font-size: 150px;
    width: unset;
    height: unset;
}

.centered-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation  {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-359deg);
    }
}

.foo {
    @include mat.fab-overrides((
        touch-target-display: 50px,
    ));
}
