<div class="cart">
  <mat-list>
    @for (entry of cart; track trackByFn(i); let i = $index) {
      <mat-list-item
        [ngClass]="{'mat-mdc-list-item-interactive': canCustomize(entry)}"
        (click)="onCustomizeEntry(entry, i)" >
        <img matListItemAvatar [src]="getItemImage(entry.item)" alt="...">
        <div matListItemTitle>{{entry.item.name}}</div>
        <div matListItemLine>{{entry.price}},-</div>
        <div matListItemMeta class="cart-entry-meta">
          <mat-icon class="remove-entry" title="Remove" (click)="removeEntry($event, i)" >delete</mat-icon>
        </div>

      </mat-list-item>
    }
  </mat-list>
</div>

<div class="checkout">
  <button matFab
    title="Purchase"
    [disabled]="isEmpty"
    (click)="onPurchase()">
    TOTAL {{total | async}},-
  </button>
  <button matFab
    title="Empty cart"
    class="empty-cart"
    [disabled]="isEmpty"
    (click)="onEmptyCart()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
