@use '@angular/material' as mat;

:host {
    display: grid;
    grid-template-rows: 64px auto;
    grid-template-columns: 170px auto 240px;
    height: 100%;
    width: 100%;
}

.toolbar {
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
        container-text-color: var(--mat-sys-primary)
    ));

    @include mat.icon-overrides((
        color: var(--mat-sys-primary)
    ));

    grid-column: 1 / 4;
    position: relative;
    z-index: 1;
    gap: 0px;

    .toolbar-spacer {
        flex: 1 1 auto;
        margin-left: 10px;
    }

    img {
        height: 56px;
        width: 56px;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .divider {
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        margin-inline: 10px;
    }
}
