<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <img src="/assets/logo-56x56.png" alt="p0sX logo" />
    <span class="toolbar-spacer">{{title}}</span>
    <span class="user" *ngIf="currentCashier">
        <mat-icon>person</mat-icon>
        {{currentCashier.first_name}}
        {{currentCashier.last_name}}
    </span>
    <span *ngIf="currentCashier" class="divider"></span>
    <button mat-icon-button matTooltip="Print receipt">
        <mat-icon>receipt</mat-icon>
    </button>
    <button mat-icon-button (click)="onOpenCreditCheckDialog()" matTooltip="Check credit">
        <mat-icon>credit_card</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()" matTooltip="Log out">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle theme">
        <mat-icon>{{icon}}</mat-icon>
    </button>
</mat-toolbar>
<div class="container">
    <categories></categories>
    <item-grid></item-grid>
    <cart></cart>
</div>
