<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <img src="assets/logo-56x56.png" alt="p0sX logo"/>
    <span class="toolbar-spacer">{{ title }}</span>
    @if (currentCashier) {
        <span class="user">
            <mat-icon>person</mat-icon>
            {{ currentCashier.first_name }}
            {{ currentCashier.last_name }}
        </span>
        <span class="divider"></span>
    }
    <button mat-icon-button (click)="onPrintReceipt()" matTooltip="Print receipt">
        <mat-icon>receipt</mat-icon>
    </button>
    <button mat-icon-button (click)="onOpenCreditCheckDialog()" matTooltip="Check credit">
        <mat-icon>credit_score</mat-icon>
    </button>
    <button mat-icon-button (click)="onOpenPreviousOrderDialog()" matTooltip="Show previous order">
        <mat-icon>orders</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()" matTooltip="Log out">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle theme">
        <mat-icon>{{ themeIcon }}</mat-icon>
    </button>
</mat-toolbar>
<categories></categories>
<item-grid></item-grid>
<cart></cart>
