@for (item of items | async; track trackByFn($index, item)) {
    <div (click)="onItemClick(item)"
         class="grid-item"
         [class.disabled]="item.stock <= 0"
         mat-ripple
         mat-elevation
         [title]="item.name">
        <img [alt]="'Image of ' + item.name" mat-card-image [src]="item.image ?? DEFAULT_IMAGE_URL">
        <div class="border">{{ item.name }}</div>
        <div>{{ item.price }} Kr</div>
        @if (item.stock <= 0) {
            <div class="disabled-overlay"></div>
        }
    </div>
}
