@use 'sass:map';
@use '@angular/material' as mat;

$theme: (
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
);

html {
    color-scheme: dark;
    @include mat.theme($theme);
}


html.light-theme {
    color-scheme: light;
}
